body {
    background-color:rgb(154, 209, 212);

}

img {
    width: 95%;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
}


h2 {
  font-family: Arial, Helvetica, sans-serif;
}

p {
    font-family: Arial, Helvetica, sans-serif;
}

.topnav {
    background-color: rgb(0, 126, 167);
    overflow: hidden;
}

    .topnav a {
    float: left;
    font-family: Arial, Helvetica, sans-serif;
    color:black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
}

    .topnav a:hover {
    background-color: rgb(204, 219, 220);
    color: black;
  }

    .topnav a.active {
   
    color: white;
  }

  
